$fontsPath: 'fonts/';
$imgsPath: 'images/';
$gotham: 'Gotham', helvetica, arial, sans-serif;
$gothamRounded: 'Gotham Rounded', helvetica, arial, sans-serif;
$garamond: 'Garamond', serif;
$didot: 'Didot LT Std', serif;
$georgia: 'Georgia', serif;

$baseFontStack: $gotham;

$baseFontSize: 16px;
$screen-xl: 1024px;
$screen-l: 960px;
$screen-m: 768px;
$screen-s: 414px;
$screen-xs: 320px;

$brown: #988879;
$grey: #908B8f;
$gray: #eae6e6;
$gold: #B48A21;
$green: #8CAE9D;
$blue: #3B4350;
$red: #FF7977;
$purple: #866A89;
$black: #1a1618;
$white: #ffffff;

$defaultTransisionTime: 0.2s;
$defaultTransitionEase: ease-out;