@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icomoon/icomoon.eot?yndmj');
  src: url('../../fonts/icomoon/icomoon.eot?yndmj#iefix') format('embedded-opentype'),
  url('../../fonts/icomoon/icomoon.ttf?yndmj') format('truetype'),
  url('../../fonts/icomoon/icomoon.woff?yndmj') format('woff'),
  url('../../fonts/icomoon/icomoon.svg?yndmj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e900";
}

.icon-arrow-top:before {
  content: "\e901";
}

.icon-arrow-right:before {
  content: "\e902";
}

.icon-arrow-left:before {
  content: "\e903";
}

.icon-arrow-bottom:before {
  content: "\e904";
}

.icon-phone:before {
  content: "\e999";
}

.icon-airbnb:before {
  content: "\e906";
  color: #ff7977;
}

.icon-airbnbfull:before {
  content: "\e907";
  color: #ff7977;
}

.icon-bed:before {
  content: "\e908";
}

.icon-breakfirst:before {
  content: "\e909";
}

.icon-dinner:before {
  content: "\e90a";
}

.icon-LPC__logo-full:before {
  content: "\e90b";
  color: #f0be5d;
}

.icon-lpc__logo:before {
  content: "\e90c";
  color: #f0be5d;
}

.icon-lunch:before {
  content: "\e90d";
}

.icon-minnibar:before {
  content: "\e90e";
}

.icon-sign:before {
  content: "\e90f";
}

.icon-snow:before {
  content: "\e910";
}

.icon-towel:before {
  content: "\e911";
}

.icon-connection:before {
  content: "\e91b";
}

.icon-spinner5:before {
  content: "\e97e";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-instagram:before {
  content: "\ea92";
}
