
@media (max-width: em(1320px)) {
  .mfp-close-btn-in .mfp-close {
    color: #333!important;
  }
}

@media (max-width: em(1023px)) {
  @import "1023px/config/general";
  @import "1023px/config/forms";
  @import "1023px/components/logo";
  @import "1023px/components/burger";
  @import "1023px/components/buttons";
  @import "1023px/components/header";
  @import "1023px/components/footer";
  @import "1023px/components/top_section";
  @import "1023px/components/room";
  @import "1023px/components/intro";
  @import "1023px/components/simple_slider";
  @import "1023px/components/room_included";
  @import "1023px/components/room_navigation";
  @import "1023px/components/distance";
  @import "1023px/components/more_infos";
  @import "1023px/components/map";
  @import "1023px/pages/home";
  @import "1023px/pages/room";
  @import "1023px/pages/region";
  @import "1023px/pages/house";
  @import "1023px/pages/contact";
}


@media (max-width: em(959px)) {
  @import "959px/config/general";
  @import "959px/config/forms";
  @import "959px/components/logo";
  @import "959px/components/burger";
  @import "959px/components/buttons";
  @import "959px/components/header";
  @import "959px/components/footer";
  @import "959px/components/top_section";
  @import "959px/components/room";
  @import "959px/components/intro";
  @import "959px/components/simple_slider";
  @import "959px/components/room_included";
  @import "959px/components/room_navigation";
  @import "959px/components/distance";
  @import "959px/components/more_infos";
  @import "959px/components/map";
  @import "959px/pages/home";
  @import "959px/pages/room";
  @import "959px/pages/region";
  @import "959px/pages/house";
  @import "959px/pages/contact";
}


@media (max-width: em(767px)) {
  @import "767px/config/general";
  @import "767px/config/forms";
  @import "767px/components/logo";
  @import "767px/components/burger";
  @import "767px/components/buttons";
  @import "767px/components/header";
  @import "767px/components/footer";
  @import "767px/components/top_section";
  @import "767px/components/room";
  @import "767px/components/intro";
  @import "767px/components/simple_slider";
  @import "767px/components/room_included";
  @import "767px/components/room_navigation";
  @import "767px/components/distance";
  @import "767px/components/more_infos";
  @import "767px/components/map";
  @import "767px/pages/home";
  @import "767px/pages/room";
  @import "767px/pages/region";
  @import "767px/pages/house";
  @import "767px/pages/contact";
}

@media (max-width: 782px) {
  @import "782px/config/admin";
}


@media (max-width:em(413px)) {
  @import "413px/config/general";
  @import "413px/config/forms";
  @import "413px/components/logo";
  @import "413px/components/burger";
  @import "413px/components/buttons";
  @import "413px/components/header";
  @import "413px/components/footer";
  @import "413px/components/top_section";
  @import "413px/components/room";
  @import "413px/components/intro";
  @import "413px/components/simple_slider";
  @import "413px/components/room_included";
  @import "413px/components/room_navigation";
  @import "413px/components/distance";
  @import "413px/components/more_infos";
  @import "413px/components/map";
  @import "413px/pages/home";
  @import "413px/pages/room";
  @import "413px/pages/region";
  @import "413px/pages/house";
  @import "413px/pages/contact";
}

@media (max-width:em(374px)) {
  @import "374px/config/general";
  @import "374px/config/forms";
  @import "374px/components/logo";
  @import "374px/components/burger";
  @import "374px/components/buttons";
  @import "374px/components/header";
  @import "374px/components/footer";
  @import "374px/components/top_section";
  @import "374px/components/room";
  @import "374px/components/intro";
  @import "374px/components/simple_slider";
  @import "374px/components/room_included";
  @import "374px/components/room_navigation";
  @import "374px/components/distance";
  @import "374px/components/more_infos";
  @import "374px/components/map";
  @import "374px/pages/home";
  @import "374px/pages/room";
  @import "374px/pages/region";
  @import "374px/pages/house";
  @import "374px/pages/contact";
}

