.menu__fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;

  &.scrolled {
    background-color: #fff;
    .menu__languages a {
      color: $blue;
    }

    .menu__logo__wrapper {
      .menu__logo {
        top: em(13px);
      }
    }
  }

}

.menu__btn__wrapper {
  @include rem(font-size, 1rem);
  padding: em(20px);
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  position: relative;
  z-index: 30;
  cursor: pointer;
}

.menu__logo__wrapper {
  width: 100%;
  /* top: 0; */
  height: em(67px);

  .menu__logo {
    position: absolute;
    left: 50%;
    top: 2em;
    transform: translate(-50%, 0);
  }
}

.menu__contact {
  display: inline-block;
  a {
    display: inline-block;
    @include rem(font-size, 12px);
    background-color: $blue;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    vertical-align: middle;
    padding: em(27px, 12px) em(36px, 12px) em(26px, 12px);
    line-height: em(14px, 12px);
  }
}

.menu__leftBtns {
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.menu__languages {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  text-transform: uppercase;
  margin: em(-10px) 2em 0;
  font-weight: 700;
  z-index: 30;
  min-width: em(61px);
  li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: em(10px);
    &:last-child {
      margin-right: 0;
    }
    &.current-lang a {
      opacity: 1;
      cursor: default;
    }

    &:hover:not(.current-lang) a {
      text-decoration: underline;
    }
  }

  a {
    transition: color 0.3s ease-out;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;

  }
}

.menu__panel.col {
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  left: -100%;
}

.menu__fixed {
  .menu__panel {
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
  &.open {
    .menu__panel {
      animation-name: menuOpen;
    }

    .menu__languages a {
      transition-delay: 0.25s;
      color: $blue;
    }
  }

  &.close {
    .menu__panel {
      animation-name: menuClose;
    }
  }
}

.sticky {
  .menu__languages a {
    color: $blue;
  }
}

.menu__panel--wrapper {
  overflow-y: auto;
  max-height: calc(100vh - 67px);
  margin-top: em(67px);
  list-style-type: none;
  li {
    margin-bottom: em(40px);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.menu__panel--link {
  text-decoration: none;
  .menu__panel--title {
    display: inline-block;
    color: $blue;
    font-family: $gotham;
    font-size: em(24px);
    font-weight: 400;
    margin: 0 0 em(5px, 24px);
    letter-spacing: +2px;
    text-transform: uppercase;
    transition: color 0.3s ease-out;
  }

  .menu__panel--aside {
    color: $brown;
    font-style: normal;
    font-family: $garamond;
    font-size: em(18px);
  }

  &:hover {
    .menu__panel--title {
      color: $red;
    }
  }
}

.menu__leftBtns {
  > div {
    display: inline-block;
  }
}

.menu__contact {
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.menu__fixed.open {
  .menu-item {
    animation-name: fromLeft;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
}

@keyframes menuOpen {
  0% {
    left: -100%;
  }
  1% {
    left:0;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes menuClose {
  0% {
    left: 0;
    opacity: 1;
  }
  99% {
    left:0;
    opacity: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translate(-2em, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}