.logo {
  text-align: center;
    width: 200px;
  text-transform: uppercase;
  .logo__icon, .logo__subtitle, .logo__title {
    display: block;
    width: 100%;
  }

  .logo__title {
    font-family: $gotham;
    font-weight: 700;
    font-size: 107%;
    letter-spacing: +3px;
  }

  .logo__subtitle {
    font-family: $garamond;
    font-weight: 400;
    font-size: 69%;
    letter-spacing: +1px;
  }
  .logo__icon {
    font-size: 254%;
    color: $gold;
  }
}

.menu__logo__wrapper a, a.menu__logo  {
  text-decoration: none;
  color: #fff;

  &:hover {
    .logo__icon {
      color: darken($gold, 10%);
    }
  }
}

