.top_section {
  min-height: 100vh;
  background-size: em(100px);
  position: relative;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;

  .mobile_logo {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .logo__title, .logo__subtitle {
      color: #fff;
    }
  }

  .top_section--img {
    width: 100%;
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    //background-attachment: fixed;
  }
}

